---

---

<div
  id="blob"
  class="hidden lg:block fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full bg-blob/20 w-[20vmax] h-[20vmax] -z-30"
  transition:persist
>
</div>
<div
  id="blur"
  class="hidden lg:block fixed inset-0 backdrop-blur-[12vmax] -z-20"
  transition:persist
>
</div>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const blob = document.getElementById("blob");

    window.onpointermove = (event) => {
      const { clientX, clientY } = event;

      blob.animate(
        {
          left: `${clientX}px`,
          top: `${clientY}px`,
        },
        { duration: 0, fill: "forwards" }
      );
    };
  });
</script>
