---
import ThemeSelector from "@/components/ux/ThemeSelector.astro";
---

<div
  class="flex px-4 items-center h-[3.5rem] top-0 sticky border-b-[1px] border-border w-full justify-between"
  transition:persist
>
  <h1 class="text-2xl pt-0 text-text-secondary">CelestialDocs</h1>
  <ThemeSelector />
</div>
