---
import NavigationMenu from "@/components/ui/NavigationMenu/NavigationMenu.astro";
import NavigationMenuLink from "@/components/ui/NavigationMenu/NavigationMenuLink.astro";
import NavigationMenuList from "@/components/ui/NavigationMenu/NavigationMenuList.astro";
---

<div class="py-3 bg-background">
  <NavigationMenu>
    <NavigationMenuList>
      <NavigationMenuLink href="/">Home</NavigationMenuLink>
      <NavigationMenuLink href="/sample">Components</NavigationMenuLink>
    </NavigationMenuList>
  </NavigationMenu>
</div>
