---
import type { MainContentProps } from "@/lib/types";
import { capitalizeFirstLetter } from "@/lib/utils";
import Footer from "@/components/core/Footer.astro";
import EditOnGitHub from "@/components/ux/EditOnGitHub.astro";
import ViewOnGitHub from "@/components/ux/ViewOnGitHub.astro";

const {
  title,
  author,
  pubDatetime,
  modDatetime,
  description,
  draft,
  tags,
  hide_breadcrumbs,
  hide_edit_on_gitHub,
  hide_view_on_gitHub,
  headings,
  filePath,
} = Astro.props;
// } = Astro.props as MainContentProps;
---

<div class="flex w-full flex-col md:pt-10 px-4 md:px-14 max-w-6xl">
  <div class="flex flex-row justify-between">
    <h1 class="">{capitalizeFirstLetter(title)}</h1>
    <div class="flex flex-row">
      {!hide_edit_on_gitHub && <EditOnGitHub {filePath} />}
      {!hide_view_on_gitHub && <ViewOnGitHub {filePath} />}
    </div>
  </div>
  <div class="prose py-10 w-full">
    <slot />
  </div>
  <!-- <Footer /> -->
</div>
