---
import type { MainContentProps } from "@/lib/types";
import { capitalizeFirstLetter } from "@/lib/utils";
import Footer from "@/components/core/Footer.astro";

const {
  title,
  author,
  pubDatetime,
  modDatetime,
  description,
  draft,
  tags,
  hide_breadcrumbs,
  headings,
} = Astro.props as MainContentProps;
---

<div class="flex w-full flex-col md:pt-10 px-4 md:px-14 max-w-6xl">
  <h1 class="">{capitalizeFirstLetter(title)}</h1>
  <div class="prose py-10 w-full">
    <slot />
  </div>
  <!-- <Footer /> -->
</div>
