---
import type { MainContentProps } from "@/lib/types";
import { capitalizeFirstLetter } from "@/lib/utils";

const {
  title,
  author,
  pubDatetime,
  modDatetime,
  description,
  draft,
  tags,
  hide_breadcrumbs,
  headings,
} = Astro.props as MainContentProps;
---

<div class="bg-background pt-4 px-6 flex-grow">
  <h1 class="">{capitalizeFirstLetter(title)}</h1>
  <div class="prose pt-4">
    <slot />
  </div>
</div>
