---
import CoreLayout from "@/layouts/CoreLayout.astro";

import Pagination from "@/components/ui/Pagination.astro";
---

<CoreLayout>
  This is a playground
  <section class="space-y-4 p-6 w-full">
    <h2>Alert Demo</h2>
    <div class="">
      <Pagination
        prevUrl="/page/2"
        nextUrl="/page/4"
        firstUrl="/page/1"
        lastUrl="/page/10"
        currentPage={3}
        totalPages={10}
      />
    </div>
  </section>
</CoreLayout>
