<!-- ---
import Accordion from "@/components/ui/Accordion/Accordion.astro";
import CoreLayout from "@/layouts/CoreLayout.astro";
import Button from "@/components/ui/Button.astro";
import AccordionItem from "@/components/ui/Accordion/AccordionItem.astro";
import AccordionTrigger from "@/components/ui/Accordion/AccordionTrigger.astro";
import AccordionContent from "@/components/ui/Accordion/AccordionContent.astro";
import Alert from "@/components/ui/Alert/Alert.astro";
import AlertTitle from "@/components/ui/Alert/AlertTitle.astro";
import AlertDescription from "@/components/ui/Alert/AlertDescription.astro";
import AspectRatio from "@/components/ui/AspectRatio.astro";

import { Image } from "astro:assets";
import myImage from "@/assets/setup.png";
import Badge from "@/components/ui/Badge.astro";
import Breadcrumb from "@/components/ui/Breadcrumb/Breadcrumb.astro";
import BreadcrumbItem from "@/components/ui/Breadcrumb/BreadcrumbItem.astro";
import BreadcrumbLink from "@/components/ui/Breadcrumb/BreadcrumbLink.astro";
import BreadcrumbList from "@/components/ui/Breadcrumb/BreadcrumbList.astro";
import BreadcrumbPage from "@/components/ui/Breadcrumb/BreadcrumbPage.astro";
import BreadcrumbSeparator from "@/components/ui/Breadcrumb/BreadcrumbSeparator.astro";
import Card from "@/components/ui/Card/Card.astro";
import CardContent from "@/components/ui/Card/CardContent.astro";
import CardDescription from "@/components/ui/Card/CardDescription.astro";
import CardFooter from "@/components/ui/Card/CardFooter.astro";
import CardHeader from "@/components/ui/Card/CardHeader.astro";
import CardTitle from "@/components/ui/Card/CardTitle.astro";
import Checkbox from "@/components/ui/Checkbox.astro";
import Input from "@/components/ui/Input.astro";
import NavigationMenu from "@/components/ui/NavigationMenu/NavigationMenu.astro";
import NavigationMenuContent from "@/components/ui/NavigationMenu/NavigationMenuContent.astro";
import NavigationMenuItem from "@/components/ui/NavigationMenu/NavigationMenuItem.astro";
import NavigationMenuLink from "@/components/ui/NavigationMenu/NavigationMenuLink.astro";
import NavigationMenuList from "@/components/ui/NavigationMenu/NavigationMenuList.astro";
import NavigationMenuTrigger from "@/components/ui/NavigationMenu/NavigationMenuTrigger.astro";
import NavigationMenuViewport from "@/components/ui/NavigationMenu/NavigationMenuViewport.astro";
import Pagination from "@/components/ui/Pagination.astro";
import ScrollArea from "@/components/ui/ScrollArea.astro";
import Separator from "@/components/ui/Separator.astro";
---

<CoreLayout>
  <h1 class="">hey</h1>
  <section class="space-y-4 p-6">
    <h2 class="text-2xl font-bold">Button Variants</h2>

    <div class="flex flex-wrap gap-4">
      <Button variant="default">Default</Button>
      <Button variant="destructive">Destructive</Button>
      <Button variant="outline">Outline</Button>
      <Button variant="secondary">Secondary</Button>
      <Button variant="ghost">Ghost</Button>
      <Button variant="link">Link</Button>
    </div>

    <h2 class="text-2xl font-bold mt-6">Button Sizes</h2>

    <div class="flex flex-wrap gap-4 items-center">
      <Button size="sm">Small</Button>
      <Button size="default">Default</Button>
      <Button size="lg">Large</Button>
      <Button size="icon">🔍</Button>
    </div>
  </section>

  <section class="space-y-4 p-6">
    <h2>Accordion Demo</h2>
    <div class="">
      <Accordion multiple={false}>
        <AccordionItem id="1">
          <AccordionTrigger slot="trigger" target="1"
            >Section 1</AccordionTrigger
          >
          <AccordionContent slot="content" id="1">
            This is the content of Section 1.
          </AccordionContent>
        </AccordionItem>

        <AccordionItem id="2">
          <AccordionTrigger slot="trigger" target="2"
            >Section 2</AccordionTrigger
          >
          <AccordionContent slot="content" id="2">
            This is the content of Section 2.
          </AccordionContent>
        </AccordionItem>
      </Accordion>
    </div>
  </section>
  <section class="space-y-4 p-6">
    <h2>Alert Demo</h2>
    <div class="flex flex-col gap-2">
      <Alert variant="destructive">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 2a8 8 0 100 16 8 8 0 000-16zM9 7h2v4H9V7zm0 6h2v2H9v-2z"
            clip-rule="evenodd"></path>
        </svg>
        <div>
          <AlertTitle>Error</AlertTitle>
          <AlertDescription
            >Something went wrong. Please try again.</AlertDescription
          >
        </div>
      </Alert>
      <Alert>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 2a8 8 0 100 16 8 8 0 000-16zM9 7h2v4H9V7zm0 6h2v2H9v-2z"
            clip-rule="evenodd"></path>
        </svg>
        <div>
          <AlertTitle>Error</AlertTitle>
          <AlertDescription
            >Something went wrong. Please try again.</AlertDescription
          >
        </div>
      </Alert>
    </div>
  </section>

  <section class="space-y-4 p-6">
    <h2>AspectRatio Demo</h2>
    <div class="">
      <AspectRatio ratio={16 / 9} class="bg-gray-200">
        <Image src={myImage} alt="A description of my image." />
      </AspectRatio>
    </div>
  </section>

  <section class="space-y-4 p-6">
    <h2>Badge Demo</h2>
    <div class="">
      <Badge>Badge Text</Badge>
      <Badge variant="secondary">Badge Text</Badge>
      <Badge variant="destructive">Badge Text</Badge>
      <Badge variant="outline">Badge Text</Badge>
    </div>
  </section>

  <section class="space-y-4 p-6">
    <h2>Breadcrumb Demo</h2>
    <div class="">
      <Breadcrumb>
        <BreadcrumbList>
          <BreadcrumbItem>
            <BreadcrumbLink href="/">Home</BreadcrumbLink>
          </BreadcrumbItem>
          <BreadcrumbSeparator />
          <BreadcrumbItem>
            <BreadcrumbLink href="/category">Category</BreadcrumbLink>
          </BreadcrumbItem>
          <BreadcrumbSeparator />
          <BreadcrumbItem>
            <BreadcrumbPage>Current Page</BreadcrumbPage>
          </BreadcrumbItem>
        </BreadcrumbList>
      </Breadcrumb>
    </div>
  </section>

  <section class="space-y-4 p-6">
    <h2>Card Demo</h2>
    <div class="">
      <Card class="max-w-md">
        <CardHeader>
          <CardTitle>Card Title</CardTitle>
          <CardDescription>This is a description of the card.</CardDescription>
        </CardHeader>
        <CardContent>
          <p>Some content inside the card.</p>
        </CardContent>
        <CardFooter>
          <Button variant="default">Default</Button>
        </CardFooter>
      </Card>
    </div>
  </section>

  <section class="space-y-4 p-6">
    <h2>Checkbox Demo</h2>
    <div class="">
      <Checkbox id="terms" label="Accept terms and conditions" />
      <Checkbox id="newsletter" label="Subscribe to newsletter" checked />
      <Checkbox id="disabled" label="Disabled Checkbox" disabled />
    </div>
  </section>

  <section class="space-y-4 p-6">
    <h2>Input Demo</h2>
    <div class="flex flex-col gap-2">
      <Input placeholder="Enter text" />
      <Input type="email" placeholder="Enter your email" required />
      <Input type="password" placeholder="Enter password" required />
      <Input placeholder="Disabled input" disabled />
      <Input
        class="border-gray-500 focus:ring-green-500"
        placeholder="Styled input"
      />
      <Input name="username" id="username" placeholder="Enter username" />
      <Input type="text" placeholder="Required input" required />
      <Input type="text" value="Pre-filled value" />
      <Input
        type="text"
        placeholder="Full-featured input"
        class="border-blue-500 focus:ring-red-500"
        value="Hello World"
        disabled={false}
        name="fullInput"
        id="fullInput"
        required
      />
    </div>
  </section>

  <section class="space-y-4 p-6">
    <h2>Alert Demo</h2>
    <div class=""></div>
  </section>

  <section class="space-y-4 p-6">
    <h2>NavigationMenu Demo</h2>
    <div class="">
      <NavigationMenu>
        <NavigationMenuList>
          <NavigationMenuItem id="menu1">
            <div slot="trigger">
              <NavigationMenuTrigger id="menu1">Socialogy</NavigationMenuTrigger
              >
            </div>
            <div slot="content">
              <NavigationMenuContent id="menu1">
                <NavigationMenuLink href="/page1"
                  >Page is long 1</NavigationMenuLink
                >
                <NavigationMenuLink href="/page2"
                  >Page is long 222</NavigationMenuLink
                >
              </NavigationMenuContent>
            </div>
          </NavigationMenuItem>
          <NavigationMenuLink href="/page1">Page is long 5</NavigationMenuLink>
        </NavigationMenuList>
      </NavigationMenu>
    </div>
  </section>

  <section class="space-y-4 p-6">
    <h2>Alert Demo</h2>
    <div class="">
      <Pagination
        prevUrl="/page/1"
        nextUrl="/page/3"
        firstUrl="/page/1"
        lastUrl="/page/10"
        currentPage={2}
        totalPages={10}
      />
    </div>
  </section>

  <section class="space-y-4 p-6">
    <h2>ScrollArea Demo</h2>
    <div class="w-48 h-48">
      <ScrollArea class="w-48 h-48 shadow-md p-2 space-y-2">
        <p>v1.2.0-beta.40</p>
        <p>v1.2.0-beta.39</p>
        <p>v1.2.0-beta.38</p>
        <p>v1.2.0-beta.37</p>
        <p>v1.2.0-beta.36</p>
        <p>v1.2.0-beta.35</p>
        <p>v1.2.0-beta.34</p>
        <p>v1.2.0-beta.33</p>
      </ScrollArea>
    </div>
  </section>

  <section class="space-y-4 p-6">
    <h2>Separator Demo</h2>
    <div class="">
      <div class="space-y-1">
        <h4 class="text-sm font-medium leading-none">Radix Primitives</h4>
        <p class="text-sm text-muted-foreground">
          An open-source UI component library.
        </p>
      </div>
      <Separator />
      <div class="flex h-5 items-center space-x-4 text-sm">
        <div>Blog</div>
        <Separator orientation="vertical" />
        <div>Docs</div>
        <Separator orientation="vertical" />
        <div>Source</div>
      </div>
    </div>
  </section>

  <section class="space-y-4 p-6">
    <h2>Alert Demo</h2>
    <div class=""></div>
  </section>
</CoreLayout> -->
