---
export interface AccordionItemProps {
  id: string;
  open?: boolean;
}

const { id, open = false } = Astro.props as AccordionItemProps;
---

<div class="border-b border-border" id={`accordion-item-${id}`}>
  <slot name="trigger" />
  <slot name="content" />
</div>
