---
import Select from "@/components/ui/Select.astro";

const themes = [
  { label: "Dark", value: "dark" },
  { label: "light", value: "light" },
  { label: "ayu-dark", value: "ayu-dark" },
  { label: "catppuccin-latte", value: "catppuccin-latte" },
  { label: "cyberpunk-2077", value: "cyberpunk-2077" },
  { label: "retro-light", value: "retro-light" },
  { label: "dark-neon", value: "dark-neon" },
  { label: "digital-noir", value: "digital-noir" },
];
---

<div class="z-30 p-4 flex flex-row-reverse items-center gap-8">
  <Select
    options={themes}
    name="theme"
    size="sm"
    id="theme-selector"
    class="w-48!"
  />
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const themeSelector = document.getElementById(
      "theme-selector"
    ) as HTMLSelectElement | null;

    const applyTheme = (theme: string) => {
      document.documentElement.setAttribute("data-theme", theme);
      localStorage.setItem("site-theme", theme);
    };

    // Set initial theme
    const savedTheme = localStorage.getItem("site-theme") || "dark";
    applyTheme(savedTheme);

    if (themeSelector) {
      themeSelector.value = savedTheme;

      themeSelector.addEventListener("change", (e) => {
        const target = e.target as HTMLSelectElement | null;
        const selectedTheme = target?.value;
        if (selectedTheme) {
          applyTheme(selectedTheme);
        }
      });
    }
  });
</script>
