---
const { ratio = 16 / 9, class: className } = Astro.props;
const paddingTop = (1 / ratio) * 100;
---

<div
  class={`relative w-full ${className}`}
  style={`padding-top: ${paddingTop}%;`}
>
  <div class="absolute inset-0 w-full h-full">
    <slot />
  </div>
</div>
