---
export interface SeparatorProps {
  className?: string;
  orientation?: "horizontal" | "vertical";
  decorative?: boolean;
}

const {
  className = "",
  orientation = "horizontal",
  decorative = true,
} = Astro.props;
---

<div
  class={`shrink-0 bg-border text-border ${orientation === "horizontal" ? "h-[1px] w-full my-4" : "h-full w-[1px]"} ${className}`}
  aria-hidden={decorative ? "true" : "false"}
>
</div>
